<div class="app-container">
  <!-- Title at the top of the page -->
  <div class="header">
    <h1>Our music streaming web page</h1>
  </div>

  <!-- Centered buttons for navigating to Login and Register pages -->
  <div style="text-align: center; margin-top: 50px;">
    <!-- The (click) event binding triggers the goToLogin method in the component when clicked -->
    <button (click)="goToLogin()">Login</button>
    <!-- The (click) event binding triggers the goToRegister method in the component when clicked -->
    <button (click)="goToRegister()">Register</button>
  </div>

  <!-- The <router-outlet> dynamically loads and displays components based on the current route -->
  <router-outlet></router-outlet>

  <div class="footer">
    <p>Project made by: Carl KLINK, William KAU, Romain LEFEBVRE, Gabin LEFRANCOIS</p>
  </div>
</div>
